parameters:
    level: 1
    paths:
        - src
    ignoreErrors:
        -
            message: '#.*\:\:__construct\(\) does not call parent constructor from .*.\.#'
            path: src/X509/Certificate/Extension/FreshestCRLExtension.php
            count: 1
        -
            message: '#.*\:\:__construct\(\) does not call parent constructor from .*.\.#'
            path: src/ASN1/Type/Primitive/RelativeOID.php
            count: 1
        -
            message: '#.*\:\:__construct\(\) does not call parent constructor from .*.\.#'
            path: src/ASN1/Type/Primitive/ObjectDescriptor.php
            count: 1
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkUninitializedProperties: true
    treatPhpDocTypesAsCertain: false
includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
