parameters:
    level: 4
    paths:
        - src
    ignoreErrors:
        - '#(Property|Method) SpomkyLabs\\.* should return .* but returns .*\.#'
        -
            message: '#Instanceof between string and SpomkyLabs\\Pki\\ASN1\\Element will always evaluate to false\.#'
            path: src/X501/ASN1/Name.php
            count: 1
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: false
    checkUninitializedProperties: true
    treatPhpDocTypesAsCertain: false
includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
