<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  colors="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>

  <testsuites>
    <testsuite name="all">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>

  <!-- Run `composer require symfony/panther` before enabling this extension -->
  <!--
  <extensions>
      <extension class="Symfony\Component\Panther\ServerExtension" />
  </extensions>
  -->
  <php>
    <ini name="display_errors" value="1" />
    <ini name="error_reporting" value="-1"/>
    <server name="SHELL_VERBOSITY" value="-1" />
    <ini name="memory_limit" value="-1"/>
  </php>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    <listener class="Symfony\Bridge\PhpUnit\CoverageListener" />
  </listeners>
</phpunit>
